body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  overflow: hidden;
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  background-color: green;
  width: 100%;
  z-index: 1;
}

#titulo {
  display: inline;
  text-align: center;
}

#minha_foto {
  display: block;
  position: absolute;
  width: 19%;
  border-radius: 50%;
  left: 30px;
  bottom: 34px;
}

section {
  display: block;
  position: relative;
  border: 3px;
  margin: 135px auto;
  background-color: blanchedalmond;
}

#licoes_aprendidas {
  position: relative;
  display: inline-block;
  left: 400px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 6mm;
  font-size: large;
}

#licoes_a_aprender {
  position: relative;
  display: inline-block;
  left: 470px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 6mm;
  font-size: large;
}

#meulink {
  position: absolute;
  float: left;
  left: 70px;
  bottom: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-decoration: none;
  font-size: x-large;
}

#meulink:hover {
  color: aqua;
}

.artigos {
  position: relative;
  display: block;
}

.artigos article, aside {
  position: relative;
  display: inline-block;
  width: 230px;
  left: 80px;
  margin: 0 200px;
  margin-bottom: 100px;
  padding-bottom: 2px;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  text-align: left;
  color: black;
}

table, tr, td {
  border: 1px solid rgb(7, 7, 7);
  border-collapse: collapse;
  width: 400px;
  color: blue;
}

table {
  display: inline-block;
  position: relative;
  margin: 20px;
  width: 400px;
  left: 376px;
  background-color: cadetblue;
}

