body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  overflow: hidden;
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  background-color: green;
  width: 100%;
  z-index: 1;
}

#titulo {
  display: inline;
  text-align: center;
}

#minha_foto {
  display: block;
  position: absolute;
  width: 19%;
}

section {
  display: block;
  position: relative;
  border: 2px solid black;
  margin: 135px auto;
}

#licoes_aprendidas {
  position: relative;
  display: inline-block;
  left: 400px;
}

#licoes_a_aprender {
  position: relative;
  display: inline-block;
  left: 470px;
}

#meulink {
  position: absolute;
  float: left;
  left: 0;
  bottom: 0;
}

table, tr, td {
  border: 1px solid grey;
  border-collapse: collapse;
  width: 400px;
}
table {
  width: 400px;
}

