body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  overflow: hidden;
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  background-color: green;
  width: 100%;
}

#titulo {
  display: inline;
  text-align: center;
}

#minha_foto {
  display: block;
  position: absolute;
  width: 21%;
}

section {
  display: block;
  position: relative;
  border: 2px solid black;
  margin: 135px auto;
}

#licoes_aprendidas {
  position: relative;
  display: inline-block;
  left: 400px;
}
