body{
    background-color: rgb(253, 251, 251);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 19px;
	color: rgb(61, 58, 58);
	line-height: 20px;
}
header{
	color: rgb(22, 105, 22);
	display: inline-block;
	right: 0%;
	position: fixed;
	top: 0%;
	font-size: 22px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
aside{
	font-size: 2px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 1px;
	padding: 2px;
	border: 2px;
}
li{
	
	border: 2px;
	padding: 1px;
	margin: 1px;
	padding-left: 30px;
}
.lado-direito{
	display: inline-block;
	position: absolute;
	top: 17%;
	right: 0%;
	margin-right: 20px;
}