* {
  margin: 0;
  padding: 0;
  font-family: monospace, sans-serif;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  background-color: green;
  position: fixed;
  width: 100%;
  top: 0;
}

#cabecalho h1 {
  font-size: 35px;
  text-align: center;
  font-weight: 900;
  color: white;
  padding: 10px;
}

#cabecalho nav {
  padding: 10px;
  color: white;
}

#cabecalho li {
  list-style: none;
  line-height: 20px;
}

#minha_foto {
  width: 300px;
  left: 30px;
  margin-top: 150px;
  margin-left: 40px;
}

h2 {
  margin: 20px;
}

.list-licoes {
  display: inline-flex;
}

.list-licoes ul , ol {
  padding: 25px;
  margin-left: 40px;
}

.licoes h2 {
  margin-left: 35px;
}

.lado-esquerdo {
  float: left;
  width: 600px;
  padding: 15px;
}

.lado-esquerdo p {
  border: 2px dashed black;
  padding: 10px;
  margin-left: 20px;
}

.lado-direito p {
  float: right;
  max-width: 600px;
  margin-top: 84px;
  margin-right: 40px;
  border: 2px dashed;
  padding: 10px;
}

#rodape {
  padding: 30px;
  position: absolute;
  top: 1190px;
}

a {
  text-decoration: none;
  color: white;
}

.lado-esquerdo a {
  color: black;
  text-decoration:underline black;
}

a:active {
  color: darkolivegreen;
}
