body {
  margin: 0px;
  background-color: rgb(253, 251, 251);
  
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: green;
  width: 100%;

  text-align: center;
  height: 16%;
  color:  white;
}

#cabecalho nav {
  text-align: left;
  padding-top: 70px;
  padding-left: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
}

#cabecalho nav ul li {
  display: inline;
  padding: 10px;
}

#minha_foto {
  max-width: 16%;
  max-height: 10%;
  margin: 200px 50px 30px 100px;
  border-radius: 5%;

}

a {
  text-decoration: none;
  color: white;
}
#rodape { 

  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: green;
  height: 2.5vh;
}


.listas h2 {
  text-align: left;
  margin: 0;
}


#licoes_aprendidas {
  display: inline-block;
}

#licoes_a_aprender {
  display: inline-block;
}
.posicao {
  display: flex;
}

.lado-esquerdo {
  border: 2px solid black;
  float: left;
  font-family: Times, serif;
  font-size: 16px;
  word-spacing: normal;
}

.lado-direito {
  border: 2px solid black;
  float: right;
  font-family: Times, serif;
  font-size: 16px;
  word-spacing: normal;
}

table , th , td {
  border: 1px solid black);
}

table , td {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
  background-color: green;
  margin: 20px;

}

