body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  border: 3px solid green;
  position: fixed;
  top: 0;
  background-color: rgb(12, 151, 12);
  padding: 1px 30px;
  margin: 5px;
  width: 93.3%;
}

img {
  width: 150px;
  margin-left: 10px;
  margin-top: 90px;
}

.lado-esquerdo {
  position: absolute;
  right: 1250px;
  margin-top: 140px;
}

.esquerdo {
  position: absolute;
  margin-top: -120px;
  left: -100px;
}

.direita {
  right: -60px;
  position: absolute;
  padding: 10px;
  width: 30px;
  margin-top: -123px;
}

.lado-direito {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  text-align: center;
  position: absolute;
  right: 720px;
  display: block;
  width: 350px;
  margin-top: -5px;
  background-color: beige;
  color: rgb(56, 56, 55);
}

.aprendizado {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
  position: absolute;
  left: 1055px;
  padding: 20px;
  width: 250px;
  text-align: center;
  border: 1px solid green;
  margin-top: -36px;
  background-color: rgb(12, 151, 12);
}

#cabecalho h1 {
  text-align: center;

}

#rodape {
  margin-top: 260px;
  position: absolute;
  width: 220px;
  border-top: 50px solid green;
}

.link {
  position: absolute;
  color: black;
  left: 20px;
  margin-top: -30px;
}

.link-sec {
  position: absolute;
  color: black;
  right: 30px;
  margin-top: -30px;
}
