* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(253, 251, 251);
}

/* Cabeçalho*/
#cabecalho {
  position: fixed;
  top: 0;
  background-color: #00489d;
  color: #b4b4b5;
  width: 1366px;
  height: 120px;
}

#cabecalho a {
  color: #b4b4b5;
}

table th {
  margin: 10px 103px 10px 36px;
  margin-right: 300px;
}

.col-1 img {
  width: 95px;
}

.col-1 #titulo {
  font-size: 42px;
}

.col-1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.col-2 a {
  font-size: 35px;
  text-decoration: none;
  padding: 25px;
}
/*END Cabeçalho*/

/* Profile box */
.profile-box {
  margin: auto;
  margin-top: 200px;
  background-color: #e2e2e2;
  width: 350px;
  text-align: center;
}

.profile-box img {
  width: 200px;
  padding: 30px;
}

.profile-box table img {
  width: 100px;
}

.profile-box table {
  margin: auto; /*centralizando a tabela*/
}
/*END Profile box*/

/* licoes box */
.licoes-box {
  margin: auto;
  margin-top: 100px;
  background-color: #e2e2e2;
  width: 800px;
  text-align: left;
}

.licoes-box table {
  margin: auto;
}

.licoes-box table h3 {
  padding: 10px 90px 0px 90px;
  font-size: 25px;
}

.licoes-box table ul,
ol {
  padding: 20px;
}

footer {
  margin-top: 500px;
}
/*END licoes box*/

/* artigos box */
.artigos-box {
  margin: auto;
  margin-top: 100px;
  width: 500px;
  text-align: justify;
}

.artigos-box h3 {
  margin-bottom: 10px;
  text-align: center;
}

.artigo-aprendizado,
.passagem-aprendizado {
  padding: 20px;
  background-color: #e2e2e2;
}
