* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  color: slategray;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  top: 0;
  text-align: center;
  background-color: whitesmoke;
}

#titulo {
  font-size: 25px;
}

#minha_foto {
  width: 15%;
  border-radius: 10%;
}

ol , ul , table {
  line-height: 150%;
  font-weight: 600;
  border: dotted black;
  margin: 1%;
  background-color: whitesmoke;
  display: inline-block;
  width: 20%;
  padding: 2%;
}

article , aside {
  border: dotted black;
  margin: 1%;
  background-color: whitesmoke;
  display: inline-block;
  width: 40%;
  overflow: auto;
}

.lado-esquerdo {
  text-align: left;
}

.lado-direito {
  text-align: right;
}

#rodape {
  background-color: whitesmoke;
  text-align: center;
}
