body {
  background-color: rgb(253, 251, 251);
  font-family: 'Open Sans', sans-serif;
}

#cabecalho {
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  border: 5px solid rgba(47, 6, 77, 0.871);
  background-color: rgb(75, 0, 130);
}

#titulo {
  text-align: center;
}

#minha_foto {
  max-width: 15%;
  border-radius: 50%;
  display: inline-block;
  margin-left: 535px;
}

#licoes_aprendidas {
  border: 5px solid rgba(143, 137, 146, 0.871);
  background-color: indigo;
  font-weight: 700;
  width: 1000px;
  max-width: 30%;
  padding: 40px;
  display: inline-block;
}

#licoes_a_aprender {
  border: 5px solid rgba(143, 137, 146, 0.871);
  background-color: rgb(75, 0, 130);
  font-weight: 700;
  width: 1000px;
  max-width: 30%;
  padding: 40px;
  display: inline-block;
  margin-left: 321px;
}

.ajuste {
  margin-top: 10%;
}

#lado-esquerdo {
  display: block;
  max-width: 50%;
  float: left;
  margin: auto;
  background-color: rgb(75, 0, 130);
  border: 5px solid rgba(143, 137, 146, 0.871);
  padding: 30px;
  margin-bottom: 8%;
  height: 259px;
}

#lado-direito {
  display: block;
  max-width: 40%;
  float: right;
  margin: auto;
}

.ajuste2 {
  margin-left: 620px;
}

#tituloartigo {
  text-align: center;
  font-weight: 900;
}

.conteudo {
  text-align: center;
  word-wrap: break-word;
  font-size: 16px;
  line-height: 20 px;
}

a:hover {
  color: tomato;
}

a {
  color: blue;
}

.soft {
  width: 300px;
  height: 259px;
  margin-left: auto;
  border: 5px solid rgba(143, 137, 146, 0.871);
  text-align: center;
  padding: 30px;
  background-color: rgb(75, 0, 130);
  margin-bottom: 8%;
}

.softconteudo {
  font-size: 15px;
  text-align: center;
  word-wrap: break-word;
}

#rodape {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(75, 0, 130);
  border: 3px solid rgba(143, 137, 146, 0.871);
  color: black;
  text-align: center;
}

.navi > a {
  padding-left: 30px;
  padding-right: 30px;
}

nav {
  height: 48px; 
}

nav ul {
  margin-left: auto;
  margin-right: auto;
}

nav li {
  display: inline-block;
  height: 100%;
  width: 20%;
}

nav li a {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}

#loucura {
  margin-left: 30px;
}

table {
  width: 100%;
  border: 2px solid rgba(143, 137, 146, 0.871);
  margin-bottom: 10%;
  background-color: rgb(75, 0, 130);
}

table, td, th {
  border: 2px solid rgba(143, 137, 146, 0.871);
}