body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  font-style: italic;
  line-height: 110%;
  color: black;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: #5ae785;
  width: 100%;
  padding: 5px;
}

#main {
  margin-top: 200px;
  width: 100%;
}

#titulo {
  text-align: center;
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#rodape {
  width: 100%;
  background-color: black;
  height: 150px;
  text-align: center;
}

#yangflix {
  margin-top: 80px;

}

#section-pai {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#minha_foto {
  border-radius: 60px;
  margin-left: 540px;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
