
body {
  background-color: rgb(253, 251, 251);
  margin: 10%;

  padding: 5%;

  border: 2px solid black;
}

#cabecalho {
  top: 0;
  position: fixed;
  background: green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  left: 0;
  height: 8vh;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  width: 100%;
}

#minha_foto {
  width: 20%;
}

article {
  font-size: 120%;
  line-height: 120%;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

#lessons {
  display: inline-flex;
}
