* {
  margin: 0;
  padding: 0;
  color: rgb(243 244 245);
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  box-shadow: 0 2px 10px rgb(227 2 32);
  background-color: rgb(36 32 36);
  width: 80%;
  margin-left: 10%;
  border-radius: 0 0 5px 5px;
  position: fixed;
  padding: 20px 20px 4px;
  
}

#titulo {
  font-size: 80px;
}

#navegacao {
  margin-top: 10px;
  margin-bottom: 0;
}

#cabecalho nav ul li {
  display: inline-block;
  width: 10%;
  padding: 3px;
  text-align: center;
  margin: -1px;
}

#navegacao ul li a {
  text-decoration: none;
  font-size: 20px;
}

#main {
  padding-top: 180px;
}

#principal {
  box-shadow: 0 2px 10px rgb(227 2 32);
  background-color: rgb(36 32 36);
  width: 55%;
  height: 350px;
  margin-left: 10%;
  border-radius: 5px;
  
}

#minha_foto {
  width: 230px;
  padding: 20px 20px 10px;
  border-radius: 12%;
}

#listas {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 860px;
}

.list {
  display: inline-block;
  padding-top: 25px;
  width: 40%;
}

.list h2 {
  text-align: center;
  padding-bottom: 10px;
}

.itens {
  font-size: 18px;
  margin-left: 70px;
  text-align: left;
}

#aside {
  box-shadow: 0 2px 10px rgb(227 2 32);
  background-color: rgb(36 32 36);
  width: 300px;
  height: 350px;
  margin-right: 7%;
  border-radius: 5px;
  float: right;
  text-align: center;
}

#rodape {
  box-shadow: 0 2px 10px rgb(227 2 32);
  background-color: rgb(36 32 36);
  width: 80%;
  margin-top: 25px;
  margin-left: 10%;
  border-radius: 5px 5px 0 0;
  padding: 20px 20px 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

#texto {
  text-align: center;
  width: 40%;
  display: inline-block;
}

#texto h2 {
  padding: 20px 0;
}

#texto p {
  text-align: justify;
  padding: 20px;
  line-height: 20px;
}

.lado-direito {
  text-align: center;
  width: 40%;
  display: inline-block;
  padding: 20px 0;
}

.lado-direito p {
  text-align: justify;
  padding: 20px;
  margin-top: 20px;
  line-height: 20px;
}

#de {
  text-align: center;
  box-shadow: 0 2px 10px rgb(227 2 32);
  background-color: rgb(36 32 36);
  border-radius: 7px;
  width: 80%;
  margin-left: 10%;
  margin-top: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

#table {
  margin-left: 8px;
}
#table td {
  background-color: rgba(191, 0, 0, 0.5);
  padding: 3px 10px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
}


