body {
  background-color: rgb(253, 251, 251);
}

#titulo {
  letter-spacing: 10px;
  position: fixed;
  border-style: solid;
  background-color: rgb(134, 107, 84);
  border-color: rgb(59, 40, 16);
  height: initial;
  top: 0;
  margin: 0px;
  padding: 10px;
}
