* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Montserrat, arial, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  background-color: rgb(75, 101, 135);
  width: 100%;
  color: rgb(247, 246, 242);
  z-index: 2;
}

.titulo {
  padding: 20px;
  display: flex;
}

.titulo h1 {
  padding-right: 20px;
}

.titulo img {
  width: 30px;
}

article h2 {
  color: rgb(104, 104, 104);
  font-weight: 500;
  line-height: 50px;
}

article p {
  line-height: 24px;
  font-weight: 300;
}

.lista-sem-estilo {
  list-style: none;
}

.navegacao {
  background-color: rgb(247, 246, 242);
}

.navegacao .lista-sem-estilo li {
  display: inline-block;
  padding: 10px;
}

a {
  text-decoration: none;
}

.navegacao a {
  color: rgb(75, 101, 135);
}

.navegacao li:hover , .navegacao li:hover>a {
  background-color: rgb(222, 221, 217);
  color: rgb(103, 138, 184);
}

main {
  padding: 0 20px;
  margin-top: 120px;
  display: grid;
  column-gap: 100px;
}

.tabela {
  margin-top: 100px;
}

th {
  font-weight: 400;
  color: rgb(104, 104, 104);
}

td {
  font-weight: 300;
}

th , td {
  text-align: left;
  border: 1px solid rgb(240, 229, 207);
  padding: 10px;
}

.imagem {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#minha_foto {
  width: 400px;
}

.lado-esquerdo {
  grid-column: 1 / 3;
}

.lado-direito {
  grid-column: 3 / 4;
}

.aprendizados-container {
  border: 1px solid rgb(240, 229, 207);
  padding: 30px;
  margin: 10px;
  border-radius: 3px;
}

.aprendizados-container h3 {
  color: rgb(104, 104, 104);
  font-weight: 500;
  padding-bottom: 20px;
}

.aprendizados-container li {
  padding: 5px 0;
  font-weight: 300;
}

aside {
  position: absolute;
  top: 650px;
  margin: 0 20px;
  width: 300px;
  border: 1px solid rgb(240, 229, 207);
  padding: 40px;
  border-radius: 3px;
  text-align: center;
  font-weight: 200;
}

#rodape {
  background-color: rgb(75, 101, 135);
  color: rgb(247, 246, 242);
  padding: 20px;
  margin-top: 100px;
  font-size: 14px;
}

#rodape a {
  color: rgb(247, 246, 242);
  text-decoration: underline;
}
