html {
  scroll-padding-top: 150px;
}

body {
  background-color: rgb(253, 251, 251);
  margin: 0;
  padding: 0;
  border: 0;
  margin-top: 150px;
}

header {
  top: 0;
  position: fixed;
  background-color: rgb(0, 105, 0);
  width: 100%;
  left: 0;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

a {
  margin: 0 80px;
}

table,th,tr,td {
  border: black 1px solid;
}

table {
  display: inline-block;
  vertical-align: top;
  margin-left: 180px;
}

h2 {
  width: 150px;
  margin-left: 125px;
  margin-top: 80px;
}

#minha_foto {
  width: 150px;
  border-radius: 50%;
  margin: 0 100% 50px 135px;
  border: 10px solid black;
  height: 150px;
}

.boxnav {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: black;
}

.lado-esquerdo {
  display: inline-block;
  width: 400px;
  margin-left: 50px;
  margin-right: 50px;
  padding-right: 50px;
  font-family: monospace;
  line-height: 25px;
  font-size: 15px;
}

.lado-direito {
  display: inline-block;
  width: 200px;
  vertical-align: top;
  margin-left: 100px;
  font-family: monospace;
  line-height: 25px;
  font-size: 15px;
}

#licoes_aprendidas {
  display: inline-block;
  padding-left: 25px;
}

#licoes_a_aprender {
  display: inline-block;
  padding-left: 100px;
}

.rodape1 {
  background-color: rgb(0, 105, 0);
  margin-top: 300px;
  padding: 10px;
  text-align: center;
}

.texto_rodape {
  margin: 2px;
};