body {
  background-color: rgb(253, 251, 251);
  padding: 0;
  margin: 0;
}

#cabecalho {
  position: fixed;
  font-family: Roboto, sans-serif;
  top: 0;
  background-color: rgb(92, 33, 186);
  width: 100%;
  height: 100px;
}

#titulo {
  color: white;
  display: inline-block;
  padding-left: 25px;
  padding-right: 40%;
}

#trybe {
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: right;
}

#navegacao {
  position: absolute;
  background-color: rgb(53, 21, 104);
  color: white;
  width: 100%;
  height: 30px;
}

#navegacao li {
  padding: 5px;
  text-align: center;
  list-style: none;
}

#minha_foto {
  display: block;
  margin: 50px;
  margin-top: 150px;
  border-radius: 40%;
  border: 10px solid teal;
  width: 200px;
}

#licoes_aprendidas {
  font-family: sans-serif;
  display: inline-block;
}

#licoes_a_aprender {
  font-family: sans-serif;
  display: inline-block;
}

.lado-direito {
  width: 50px;
}