  * {
    margin: 0;
    padding: 0;
    border: 0;
}


  body {
    background-color: rgb(253, 251, 251);
}


  header {
    width: 100%;
    height: 100px;

}


  #cabecalho {
    top: 0;
    position: fixed;
    width: 100%;
    padding: 20px;
    background-color: rgb(60, 36, 82, 0.5);
}

  #titulo {
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
}

  #minha_foto {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0px 0px 30px rgb(3, 4, 94)) grayscale(40%);
    padding-bottom: 100px;
}

  #minha_foto:hover {
    transition-duration: 0.7s;
    width: 350px;
    height: 350px;
    filter: drop-shadow(0px 0px 30px rgb(12, 15, 207, 0.5)) grayscale(0%); 
}


  #licoes_aprendidas {
    margin-bottom: 20px;
    line-height: 26px;
    margin-left: 40px;
    display: table-cell;
    padding-left: 50px;
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
}

 #licoes_a_aprender {
    line-height: 26px;
    margin-left: 100px;
    list-style: none;
    display: table-cell;
    padding-left: 30px;
    padding-top: 30px;
    text-align: center;
    font-family: 'Gemunu Libre', sans-serif;
}

  h2 {
      padding-bottom: 10px;
      font-family: 'Gemunu Libre', sans-serif;
  }


  article, p, h2 {
      display: block;
      text-align: center;
      font-family: 'Gemunu Libre', sans-serif;
  }

#linkedin, a {
    width: 75px;
    height: 75px;
    display: block;
    margin: auto;
    padding-top: 20px;    
}

aside, p {
   text-align: center; 
   padding-top: 20px;
   font-family: 'Gemunu Libre', sans-serif;
}
