body {
  background-color: rgb(253, 251, 251);
  font-family: monospace;
  font-size: 15px;
  line-height: 22px;
}

header {
  position: fixed;
  top: 0;
  background-color: seagreen;
  width: 100%;
  left: 0;
  color: white;
}

#minha_foto {
  width: 200px;
}

section {
  display: inline-block;
  margin-right: 50px;
  margin-left: 50px;
}

main {
  margin-top: 150px;
}

a {
  text-decoration: none;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  display: inline-block;
  margin-left: 60px;
  margin-bottom: 15px;
  margin-right: 20px;
}

h1 {
  margin-inline-start: 20px;
  margin-bottom: 10px;
}

.lado-esquerdo , .lado-direito {
  display: inline-block;
  margin-right: 50px;
  vertical-align: top;
}

.lado-esquerdo {
  width: 50%;
}

.lado-direito {
  width: 30%;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: seagreen;
  width: 100%;
  left: 0;
}

h4 {
  font-size: 11px;
  margin-inline-start: 250px;
  color: white;
}
