body {
  background-color: rgb(253, 251, 251);
  margin: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(3, 15, 51);
  width: 1300px;
  height: 968px;
}

#cabecalho {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 25px;
  width: 100%;
  background-color: rgb(234, 241, 244);
}

#minha_foto {
  width: 300px;
  padding-top: 100px;
}

p {
  text-align: justify;
  line-height: 25px;
}

.lado-esquerdo , #titulo {
  width: 60%;
  float: left;
}

.lado-direito , nav {
  width: 30%;
  float: right;
}

nav {
  margin: 25px 0;
}

#titulo {
  width: 50%;
  font-size: 32px;
}

.navegador {
  padding-right: 25px;
}

#licoes_aprendidas , #licoes_a_aprender {
  display: inline-block;
  margin-right: 50px;
}

#rodape {
  bottom: 0;
  position: fixed;
  background-color: rgb(234, 241, 244);
  width: 100%;
  left: 0;
  height: 50px;
  padding: 15px;
}

table, th, td {
  border: 1px solid black;
}
