body {
  background: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(80, 51, 160);
}

#titulo {
  text-align: center;
  font-family: sans-serif;
  color: rgb(128, 128, 128);
}

#menu li {
  display: inline;
  margin: 10px;
  font-family: sans-serif;
}

#menu a {
  text-decoration: none;
  color: rgb(128, 128, 128);
}

#minha_foto {
  width: 10%;
  margin-top: 10%;
  margin-left: 5%;
}

.licoes{
  font-family: sans-serif;
  color: rgb(80, 51, 160);
  font-size: 18px;
  margin-left: 20px;
}

.lista-licoes {
  display: inline-block;
  margin-top: 10%;
  margin-left: 20%;
}

.link, a {
  display: inline-block;
  text-decoration: none;
  text-align: right;
  margin-left: 5%;
  width: 100px;
  font-size: 12px;
  font-family: sans-serif;
  color: rgb(80, 51, 160);
}

#licoes_aprendidas li,
#licoes_a_aprender li {
  padding: 3px;
  font-family: sans-serif;
  font-size: 15px;
}

.divisao {
  display: inline-block;
  margin-top: 10%;
  margin-left: 20%;
  text-align: justify;
  font-family: sans-serif;
  width: 20%;
}

.lado-esquerdo,
.lado-direito {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 50px;
}

.tecnologia {
  text-align: center;
  font-family: sans-serif;
  color: rgb(128, 128, 128);
}

.tabela {
  position: absolute;
  margin-left: 44%;
  margin-bottom: 200px;
}

td {
  border: solid 2px blue;
  text-align: center;
}

#rodape {
  font-family: sans-serif;
  text-align: center;
  color: rgb(253, 251, 251);
  height: 20px;
  padding-top: 20px;
  margin-top: 180px;
  text-align: center;
  background: rgb(80, 51, 160);
}
