body {
  background-color: rgb(253, 251, 251);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(22, 22, 22);
}

a:hover {
  background-color: antiquewhite;
}

#cabecalho {
  top: 0;
  position: fixed;
  background-color: rgb(85, 224, 43);
  width: 50%;
  padding: 15px;
  border-radius: 10px;
  line-height: 10px;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
}

#minha_foto {
  width: 200px;
  margin-top: 100px;
  border-radius: 100px;
  margin-bottom: 18px;
}

#container{
  display: flex;
  justify-content: space-around;
}

.lado-esquerdo{
  width: 45%;
}
.lado-direito{
  width: 45%;
}

.listas{
  display: flex;
  justify-content: space-around
}

#licoes_a_aprender{
  list-style-type: square;
}

a {
  text-decoration: none;
  color: black;
  word-spacing: 3px;
}

p {
  padding: 25px;
  letter-spacing: normal;
  line-height: 20px;
}

h1 {
  margin-top: 0%;
}

h3,
h2 {
  text-align: center;
  letter-spacing: normal;
}

footer {
  font-size: 8px;
  bottom: ;
}
