body {
  background-color: rgb(253, 251, 251)
}



#cabecalho {
  top: 0;
  position: fixed;
  background: rgb(92, 92, 92);
  width: 100%;
  border-radius: 20px;
  z-index: 1;
}

#titulo {
  display: inline-block;
  float: right;
  margin-right: 80px;
  top: 50px;
}

#minha_foto {
  width: 163px;
  height: 173px;
  border-radius: 20px;
  padding: 10px 10px;
  left: 0px;
}

.menu_superior {
  top: 210px;
  background-color: rgb(253, 251, 150);
  width: 80%;
  border-radius: 20px;
}


.menu_content {
  margin-left: auto;
  margin-right: 30px;
  display: inline-block;
  float: right;
}

.menu_superior h2 {
  display: inline-block;
  margin-left: 40px;

}

.menu_content li {
  display: inline-block;
  padding: 10px 20px;
}

main {
  position: absolute;
  top: 300px;
}
