body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1;
  text-align: justify;
  color: rgb(29, 28, 28);
  padding: 50px;
  margin: 20px;
  border: 15px;
}

#cabecalho {
  position: fixed;
  top: 0%;
  width: 100%;
  text-align: center;
  font-family: cursive;
  font-size: 25px;
  color: darkslategrey;
}

.menu {
  color: blue;
}

#licoes_aprendidas{
  list-style: decimal;
}

.lado-esquerdo {
  display: inline-block;
  width: 70%;
  margin: auto;
  text-align: center;
}

.lado-direito {
  width: 30%;
  margin: auto;
  text-align: justify;
  float: right;
  
}

#rodape {
  display: block;
  text-align: center;
  padding: 20px;
}

table {
  display: block;
  margin: 25px;
}

.listas {
  display:inline-block;
  border: 2px solid black;
  line-height: 40px;
}
