body {
  background-color: rgb(253, 251, 251);
  margin-top: 80px;
}

header {
  top: 0;
  position: fixed;
}

#cabecalho {
  background-color: blueviolet;
  margin: auto;
  margin-bottom: 50px;
  padding: 10px;
  padding-bottom: 20px;
  width: 100%;
  border: 1px solid blueviolet;
  color: white;
  font-family: monospace;
  z-index: 1;
}

#titulo {
  width: 500px;
  font-size: 110%;
 
}

nav {
  position: fixed;
  z-index: 2;
  margin-left: 30px;
  color: white;
}

#minha_foto {
  width: 200px;
}

#licoes_aprendidas {
  line-height: 20px;
}

.lado-direito {
  float: right;
}

.lado-esquerdo {
  float: right;
}
