body {
  background-color: rgb(253, 251, 251);
  font-size: 15px;
  color: rgb(17, 17, 17);
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif
}

#cabecalho {
  background: linear-gradient(
    to bottom right,
    rgb(0, 128, 0),
    rgb(119, 213, 111)
  );
  position: fixed;
  top: 0;
  width: 1366px;
  z-index: 10;
}

#titulo,
nav ul {
  color: rgb(253, 251, 251);
}

#titulo {
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul a {
  text-decoration: none;
  color: rgb(253, 251, 251);
}

img {
  margin-top: 140px;
  margin-left: 15px;
  width: 250px;
  border-radius: 5px;
}

.photo a {
  display: block;
  margin: 0 0 0 15px;
}

.artigo h2 {
  padding: 10px 0 0 20px;
}

.artigo p {
  max-width: 800px;
  padding-left: 20px;
}

.lado-direito {
  position: absolute;
  max-width: 500px;
  top: 397px;
  left: 870px;
  z-index: 1;
}

.lado-direito h2 {
  margin-bottom: 12px;
  margin-top: 0;
}

.licoes h2 {
  padding-left: 20px;
}
.listas {
  display: flex;
  max-width: 500px;
  margin-left: 20px;
}
table {
  /* border: 1px solid greenyellow; */
  border-collapse: separate;
  border-spacing: 60px 0;
  width: 1366px;
}

td {
  border: 1px dashed black;
  text-align: justify;
  padding: 0 20px;
}

table tr td:nth-child(1) {
  width: 700px;
  text-align: justify;
}