body {
  background-color: rgb(253, 251, 251);
  font-family: Andale Mono, monospace;
  font-size: 15px;
  font-weight: 100px;
  color: darkblue;
  line-height: 1.5;

}

#cabecalho {
top: 0px;
position: fixed;

}

#minha_foto {
height: 300px;

  
}
main {
  margin-top: 100px;

}