* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Light 300, sans-serif;
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  width: 100%;
  text-align: center;
  height: 5%;
  background-color: rgb(139, 216, 115);
}

#titulo {
  color: honeydew;
  padding-left: 60px;
}

#minha_foto {
  float: left;
  border-image-outset: initial;
  width: 250px;
  padding: 5px;
  padding-top: 40px;
  border-radius: 30px;
}

#licoes_aprendidas {
  font-size: 10pt;
  position: absolute;
  bottom: 60%;
  right: 25%;
}

#licoes_a_aprender {
  font-size: 10pt;
  position: absolute;
  bottom: 60%;
  left: 85%;
}

#rodape {
  background-color: rgb(26, 206, 182);
  color: blueviolet;
  text-align: center;
  position: absolute;
  bottom: 1px;
  width: 100%;
}

table {
  border: 1px solid black;
  text-align: center;
  vertical-align: center;
  overflow-x: auto;
}

h4 {
  padding: 5px;
}

#tabela {
  padding: 20px;
  bottom: 5%;
  left: 40%;
  position: absolute;

}

p {
  padding: 5px;
}

.lado-esquerdo {
  width: 40%;
  right: 40px;
  bottom: 200px;
  position: absolute;
  line-height: 30px;
  text-align: justify;
}

.lado-direito {
  width: 40%;
  left: 40px;
  bottom: 200px;
  position: absolute;
  line-height: 30px;
  text-align: justify;
}

nav {
  position: absolute;
  top: 40%;
  right: 73%;
}
